.outer-box{
    background-color: rgb(0,0,0);
    
}
.text{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgb(255,255,255)
}
.h4{
    margin-left: 0.8cm;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}


.inner-box-in{
    display: flex;
    flex-direction: row;
    padding: 0.65cm;
    width: 100%;
    justify-content: space-evenly;
}
.inner-box{
    display: flex;
    flex-direction: row;
    padding: 0.65cm;
    width: 100%;
}
.angertag1{
    color: rgb(108, 105, 105);
    padding: 20px;
}
.angertag{
    color: rgb(188, 188, 188);
    
}
.inner-box1{
    margin: 0.5cm;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.language-box{
    height: 1cm;
    width: 3cm;
    
    color:rgb(255,255,255);
     border-radius: 3px;
    background-color: rgb(33, 33, 33);
}
.lang-option{
    color: rgb(255,255,255);
}
.angertagblue{
    color: rgb(56, 3, 245);
    padding: 20px;
}