.main-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.login-container {
    text-align: center;
    margin-top: 20px;
}

.get-started-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-width: 0px;
    color: rgb(255, 255, 255);
    border-radius: px;
    height: 1.4cm;
    margin-top: 5px;
width: 4cm;
    background-color: rgb(229, 9, 20);
    cursor: pointer;
}

.Login-input {
    padding: 0.2cm;
    height: 1cm;
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    width: 17cm;
    border-width: 3px;
    border-color: rgb(255,255,255);
    margin-right: 10px;
    border-radius: 7px;
}

.Login-input::placeholder {
    color: aliceblue;
    font-size: large;
}