.get-started-btn {
  background-color: #e50914;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  
  text-align: center;
  margin-top: 20px;

  transition: background-color 0.3s ease;
}

.get-started-btn:hover {
  background-color: #f6121d;
}
